<ion-content>
  <div class="collection">
    <div class="collection-header" [ngStyle]="{'background-image': 'url(&quot; ' + collection?.imgCover +' &quot;)'}">
      <div class="under-collection-header">
        <ion-buttons slot="start" (click)="closeModal()">
          <ion-back-button defaultHref="/nft/all-collections"></ion-back-button>
        </ion-buttons>
        <div>
          <h2>{{ collection.name }}</h2>
          <div class="social-media d-flex justify-content-between align-items-center w-65">
            <a [href]="collection?.discord" *ngIf="collection?.discord" target="_blank"><ion-icon name="logo-discord"></ion-icon></a>
            <a [href]="collection?.instagram" *ngIf="collection?.instagram" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
            <a [href]="collection?.twitter" *ngIf="collection?.twitter" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
            <a [href]="collection?.website" *ngIf="collection?.website" target="_blank"><ion-icon name="link-outline"></ion-icon></a>
          </div>
        </div>
      </div>
    </div>

    <div class="collection-body">
      <div class="price-items">
        <div class="d-flex justify-content-between align-items-center ion-margin-horizontal">
          <h4>Price</h4>
          <h4><img src="../../../assets/Vector.svg" alt="" width="9"> {{ collection?.volume_all_time }}</h4>
        </div>

        <div class="d-flex justify-content-between align-items-center ion-margin-horizontal">
          <h4>{{ collection?.nfts?.length }} Items</h4>
          <h5>Rarity</h5>
        </div>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h3 class="font-weight-bold">Description</h3>
            <p>{{ collection?.description }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="items">
        <ion-row>
          <ion-col size="12">
            <h3>Items</h3>
          </ion-col>
          <ion-col size="6" *ngFor="let nft of collection?.nfts">
            <ion-card>
              <div class="bg-primary">
                <ion-img [src]="nft?.img"></ion-img>
              </div>
              <ion-card-content>
                <h6>{{ nft?.title }}</h6>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
